# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Old files
Oldapp.py
save_model.py
Testing.ipynb
ModelAnalysis.ipynb
Market_seg_and_price_prediction_CLEAN.ipynb
